@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap');

:root{
    --yellow: #ffff00;
    --orange: #ffa500;
    --red: #ff3c00;
    --black: #000000;
    --blue: #115aadf8;
}

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(46, 94, 142,0.75), hsl(210, 100%, 66%));
    color: white;
    width: 90%;
    min-height:100vh;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    text-align: center;
    padding: 25px 5px; 
    position: sticky;
}

.logo-text{
    font-size: 2rem;  
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
}

.logo-text:hover{
    letter-spacing: 2.5px;    
}

.menu{
    display: none;      
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;    
}

.my-pic{
    width: 100%;  
    margin: 0 auto;   
    display: block;
}

.my-pic img{
    width: 50%;
    margin: 0 auto;
    display: block;
    border: solid 2px white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px whitesmoke;
    transition: all 0.5s ease;
}

.my-pic img:hover{
    border-radius: 20px; 
    box-shadow: 5px 5px 5px rgb(238, 122, 122);
    
}

.symbol{
    color: var(--orange);
    font-weight: bolder;
}

.social-icons{
    width: 75%;
    margin: 0 auto;
    padding: 1em 0.5em;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.utube{
    color: var(--red);
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.utube:hover{
    border-radius: 50%;
}

.twitter{
    background-color: var(--blue);
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.twitter:hover{
    border-radius: 50%;
}
.git{
    background-color: var(--black);
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.linkedln{
    background-color: var(--blue);
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.linkedln:hover{
    border-radius: 50%;
}

.git:hover{
    border-radius: 50%;  
}

.landing-page-text{
    width: 100%;  
    margin: 0 auto;    
    display: block;
}

.profile-line, .know-more{
    width: 100%;
    margin: 0 auto;
      
}

.know-more{
    text-align: center;
    padding: 1em 0.5em;
    font-family: 'Caveat', cursive;  
    font-size: 2rem; 
}

.know-more a{
    color: var(--yellow);
    text-decoration: none;
    font-style: italic;    

}

.profile-line{
    line-height: 2em;
    font-size: 1.25rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.profile-line ul{  
    text-align: left;    
    padding-left: 0.20em;
    text-align: justify;
}

.profile-line li{
    list-style-type: none;
    text-align: center;
    margin-top: 0.85em;
}

footer{
    width: 100%;
    padding-bottom: 2%;
    border-top: solid 2px white;
}
.mobile-footer-menu{
    width: 100%;
    margin: 0 auto;
    text-align: center; 
    visibility: visible;  
}

.footer-data{
    text-align: center;
}

.mobile-footer-menu{
    position: fixed;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(rgb(46, 94, 142,0.75), hsl(210, 100%, 66%));    
}

.mobile-footer-menu ul{
    display: flex;
    justify-content: space-between;
}

.mobile-footer-menu li{
    list-style-type: none;
    color: white; 
    padding: 0 0.5em;    
}

.btm-menu-icon{
    padding: 0.5em 0;
    text-align: center;
    text-decoration: none;
    color: var(--orange)
}

.btm-menu-text a{
   text-decoration: none; 
   font-weight: bold;
   color: white;
}
/** Media query for larger screen > than tabs */
@media screen and (min-width: 768px){
    header{
        width: 95%;
        text-align: left;
        display: flex;
    }

    .logo-text{
        font-size: 2rem;  
        font-weight: bold;
        width: 40%;
        margin: 0;
    }

    .menu{
        display: inline-block;
        width: 60%;
    }

    .menu ul{
        float: right;
    }

    .menu li{
        list-style-type: none;
        display: inline-block;
        padding: 0.5em 0.75em;   
        font-size: 1.1rem;
        font-weight: bold;
        letter-spacing: 1px;
    }
    
    .menu li a{
        text-decoration: none;
        color: white;
    }
    
    .menu li a i{
        text-decoration: none;
        color: var(--orange)
    }

    
    .home{
        width: 95%;      
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        margin-bottom: 20%;
    }

    .my-pic{
        width: 35%;
    }

    .landing-page-text{
        width: 55%; 
       
    }

    .profile-line{
        line-height: 2.5em;
        font-size: 1.5rem;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .profile-line ul{        
        text-align: left;    
        padding-left: 0.20em;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
    }

    .profile-line li{
        list-style-type: none;
        padding-top: 0;
        text-align: center;
        letter-spacing: 1px;
    }

    .know-more{
        text-align: center;
        padding: 1em 0.5em;               
    }
    
    .know-more a{
        color: var(--yellow);
        text-decoration: none;
        font-style: italic;
        font-family: 'Caveat', cursive;  
        font-weight: 700;
        letter-spacing: 4px;
    }

    footer{
        border-top: solid 2px white;
        padding-bottom: 1%;
    }

    .mobile-footer-menu{
        display: none;
        width: 95%;
    }
}