/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** GENERAL CSS **/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap');
:root {
	--yellow: #ffff00;
	--orange: #ffa500;
	--red: #ff3c00;
	--black: #000000;
	--blue: #115aadf8;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-image: linear-gradient(rgb(46, 94, 142, 0.75), hsl(210, 100%, 66%));
	font-family: 'Open Sans', sans-serif;
}

/* visited link 
a:visited {
	color: black;
}*/

/** Nav **/

header {
	color: white;
}

.nav-navigation {
	height: 50px;
	display: flex;
	justify-content: space-between;
	line-height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
	/*background-color: rgb(246, 255, 127); /
	border: red solid 1px;*/
	background-image: linear-gradient(rgb(46, 94, 142, 1), hsl(210, 100%, 66%));
}

.nav-logo {
	height: auto;
	letter-spacing: 0.2rem;
	/*border: blue solid 1px;*/
	font-size: 1.6rem;
	font-weight: bold;
}

.nav-logo-text {
	margin: 0 auto;
	padding: 0 1.5em;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.nav-logo-text:hover {
	font-size: 1.4rem;
}

.nav-menu ul {
	/*border: green solid 1px;*/
	font-size: 1.25rem;
	display: none;
	text-align: center;
	width: 100%;
	font-weight: bold;
}

.nav-menu ul li {
	padding-left: 20px;
}

.nav-menu ul li a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.nav-menu li a:visited {
	color: white;
}

.nav-menu li a:hover {
	font-size: 1.4rem;
	color: var(--orange);
}

.nav-menu li a i {
	padding-right: 0.25em;
}

.nav-toggle {
	padding: 0 1em;
	font-size: 1.2rem;
}

.nav-toggle a i{
	color: var(--orange);
}

.nav-toggle a:visited{
	background-color: white;
}
.nav-toggle a:hover{
	color: var(--orange);
}


.nav-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 2;
	display: none;
	width: 100%;
	height: 100vh;
	letter-spacing: 2px;
}

.nav-overlay ul {
	display: flex;
	flex-direction: column;
	margin: auto;
	text-align: center;
	font-size: 1.25rem;
}

.nav-overlay ul li a {
	text-decoration: none;
	color: white;
}

.nav-overlay ul li a:visited {
	color: white;
}

.nav-overlay ul li a:hover {
	color: sandybrown;
	text-decoration: underline;
}

.nav-overlay ul li a i {
	padding-right: 0.5em;
}

/* End of navigation menu css */

.home, .aboutme, .contactme, .blog {
	width: 90%;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 20px;
}

.aboutme-section, .contactme-section {
	color: white;
	font-size: 2rem;
	text-align: center;
	padding: 2em 0;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.6px;
	width: 100%;
	border-bottom: solid white 1px;
	border-top: solid white 1px;
	line-height: 1em;
}
/**************** landing/Home section CSS *****/
.logo-text{
    font-size: 2rem;  
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
}

.logo-text:hover{
    letter-spacing: 2.5px;    
}

.home{
    width: 100%;
    display: flex;
    flex-direction: column;  
	color: white;  
}

.my-pic{
    width: 100%;  
    margin: 0 auto;   
    display: block;
}

.my-pic img{
    width: 40%;
    margin: 0 auto;
    display: block;
    border: solid 2px white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px whitesmoke;
    transition: all 0.5s ease;
}

.my-pic img:hover{
    border-radius: 20px; 
    box-shadow: 5px 5px 5px rgb(238, 122, 122);
    
}

.symbol{
    color: var(--orange);
    font-weight: bolder;
}

.social-icons{
    width: 75%;
    margin: 0 auto;
    padding: 1em 0.5em;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.utube{
    color: var(--red);
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.utube:hover{
    border-radius: 50%;
}

.twitter{
    background-color: var(--blue);
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.twitter:hover{
    border-radius: 50%;
}
.git{
    background-color: var(--black);
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.linkedln{
    background-color: var(--blue);
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.linkedln:hover{
    border-radius: 50%;
}

.git:hover{
    border-radius: 50%;  
}

.landing-page-text{
    width: 100%;  
    margin: 0 auto;    
    display: block;
}

.profile-line, .know-more{
    width: 100%;
    margin: 0 auto;
      
}

.know-more{
    text-align: center;
    padding: 1em 0.5em;
    font-family: 'Caveat', cursive;  
    font-size: 2rem; 
}

.know-more a{
    color: var(--yellow);
    text-decoration: none;
    font-style: italic;    

}

.profile-line{
    line-height: 2em;
    font-size: 1.25rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.profile-line ul{  
    text-align: left;    
    padding-left: 0.20em;
    text-align: justify;
}

.profile-line li{
    list-style-type: none;
    text-align: center;
    margin-top: 0.85em;
}
/** Blog page css **/
.blog-page-main{
	width: 95%;
	margin: 0 auto;
}
.blog-section {
	color: white;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.6px;
	width: 100%;
	border-bottom: solid white 1px;
	line-height: 1em;
	padding-top: 100px;
	padding-bottom: 20px;
}

.blog {
	/*display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	font-size: 1.5rem;
	font-weight: bolder;
    padding-top: 2em;
	letter-spacing: 2.25px; */
	width: 100%;
	height: 60vh;
	margin: 0 auto;
	background-image: url(../img/coming-soon2.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}

.blog-text {
	margin-bottom: 1em;
}

.blog-text i {
	font-size: 2.5rem;
	color: var(--yellow);
}

/* contact me page css */

input[type=text], [type=password], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	color: black
}

.contactme-form{
	padding: 1em;
}

.contactme-form label{
	color: white;
	margin-top: 1em;
	font-size: 1.25rem;
	font-weight: bold;
}
.msg {
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
	margin-top: 1em;
  }

input[type=submit] {
	width: 100%;
	background-color: #4a85e4;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: bold;
	background-image: linear-gradient(rgb(46, 94, 142, 0.75), hsl(210, 90%, 52%));
	letter-spacing: 1.6px;
	margin-top: 1em;
}

input[type=submit]:hover {
	background-image: linear-gradient(rgb(46, 94, 142, 1), hsl(210, 100%, 66%));
}

/************ About Me Section CSS *******************/

.aboutme-data{
	color:white;
	padding-top: 1em;
	
}

.aboutme-text, .aboutme-skills{
	margin-left: 5px;	
	font-size: 1.25rem;
	letter-spacing: 1.6px;
	line-height: 1.6;
}

.aboutme-text p{
  margin-top: 1em;
}
.aboutme-text img{
	float: left;
	width: 100px;
	max-width: 100px;
	border-radius: 5%;
	border: solid 2px white;
	margin-right: 5px;	
}

.aboutme-skills{
	color: white;
	font-size: 1.5rem;
	text-align: center;
	padding: 2em 0;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.6px;
	width: 100%;
	border-top: solid white 1px;
	line-height: 1em;
    margin-top: 0.5em;  
}

.aboutme-skills-title{
	text-decoration: underline;
	margin-bottom: 0.5em;
}

.aboutme-skills-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-top: 0 auto;
	justify-content: center;
	align-content: center;
}

.aboutme-skills-list div{
	width: 150px;
	height: 100px;
	border: solid 1px white;
	margin: 0.5em;
	border-radius: 5%;
	align-items: center;
	text-align: center;
	padding-top: 40px;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.aboutme-skills-list div:hover{
	background-image: linear-gradient(rgb(46, 94, 142, 1), hsl(210, 100%, 66%));
}

/** Footer section **/
footer{
	border-top: 1px solid white;
	padding: 1em 0;
	text-align: center;
	color: white;
	letter-spacing: 1.6px;
	font-weight: bold;    
}

/* MEDIAQUERIES */

@media screen and (max-width:767px) {
	.nav-logo-text {
		font-size: 1.4rem;
		padding-left: 5px;
		letter-spacing: 1px;
	}
	.nav-logo-text:hover {
		font-size: 1.2rem;
	}
	/*.nav-toggle {
		background-color: white;
		opacity: 0.75;
	}*/
}

/* MEDIAQUERIES For larger screens*/

@media screen and (min-width:768px) {
	.nav-menu ul {
		display: flex;
		margin-right: 50px;
		color: red;
	}
	.nav-toggle {
		display: none;
	}

	/** Home section media query */
	.home{
        width: 95%;      
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        margin-bottom: 20%;
    }

    .my-pic{
        width: 35%;
    }

    .landing-page-text{
        width: 55%; 
       
    }

    .profile-line{
        line-height: 2.5em;
        font-size: 1.5rem;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .profile-line ul{        
        text-align: left;    
        padding-left: 0.20em;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
    }

    .profile-line li{
        list-style-type: none;
        padding-top: 0;
        text-align: center;
        letter-spacing: 1px;
    }

    .know-more{
        text-align: center;
        padding: 1em 0.5em;               
    }
    
    .know-more a{
        color: var(--yellow);
        text-decoration: none;
        font-style: italic;
        font-family: 'Caveat', cursive;  
        font-weight: 700;
        letter-spacing: 4px;
    }
}